/*browser styling resetten*/
*  {
    margin: 0;
    padding: 30;

  }

  /* initialiseren van eigen styling */

  body {
    font-size: 24px;
    line-height: 2.0;
    font-family: "coordinates", sans-serif;
    color: #FF1493;
    background-color: white;
    font-weight: normal;
    margin: 0;
    display: flex;
    justify-content: center;

}

p {
  margin-bottom: 1.5rem;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;

}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 50px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 50px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 50px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 32px;
}

/* Centered text */
.centereda {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.centeredb {
  position: absolute;
  top: 0%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.title {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-20%, -20%);
}
  .o {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-right {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-20%, -20%);
  color: #FF1493;
}



<style type="text/css">
A:link { COLOR: #FF1493; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: #FF1493; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR:#7FFFD4; TEXT-DECORATION: none }
A:hover { COLOR: #7FFFD4; TEXT-DECORATION: none; font-weight: normal }
</style>



</style>